@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;font-family:"Microsoft YaHei";}
.top_words{ background-color:#09F;height:150px;  text-align:center;}

.words{width: 1000px;margin: auto;  text-align:center;}

.big{color:#FFF;display: inline-block; font-weight:bold; font-size:60px;padding-top:20px;}
.small{color:#FFF;display: inline-block;font-weight:bold;padding-top:10px;font-size:20px;}
	
.top_words a:link,.top_words a:visited{color:#FFF; text-decoration:none;}
.top_words a:hover,.top_words a:active{color:#FFF; text-decoration:none;}

.photo{float:right; padding-right:20px;padding-top:20px;}
.bigTitle a:link, .bigTitle a:visited{color:#F60; text-decoration:none;}
.bigTitle a:hover,.bigTitle a:active{color:#09F; text-decoration:none;font-weight:bold;}
.smallTitle a:link, .smallTitle a:visited{color:#000; text-decoration:none;}
.smallTitle a:hover,.smallTitle a:active{color:#09F; text-decoration:none;font-weight:bold;}
.miniTitle a:link, .miniTitle a:visited{color:#000; text-decoration:none;}
.miniTitle a:hover,.miniTitle a:active{color:#09F; text-decoration:none;font-weight:bold;}

.maininfo a:link, .maininfo a:visited{color:#000; text-decoration:none;}
.maininfo a:hover,.maininfo a:active{ color:#09F; text-decoration:none;font-weight:bold;}
.fr{float: right; display:block; padding-right: 20px;}


.mainbody{width:980px; margin-top:5px;margin-left:auto;margin-right:auto; border:#fff 2px solid; }
.mainbody2{width:1005px; margin:5px auto; height:160px; }


.initial{padding: 10px 10px;padding-left:30px;}
.initial2{padding: 10px 10px;padding-left:30px;}
.bigTitle{font-size:36px; color:#F60;font-weight:bold;}
.name{font-size:28px; font-weight:bold;}
.maininfo{text-align: center;}
.midTitle{font-size:24px; color: #000;font-weight:bold;}
.smallTitle{font-weight:bold;}
.miniTitle{font-style: oblique ;}









<!--底部效果-->




.bottom{width:100%; height:500px;background:#CCC;}
.box1{width:33.3%; height:100px;float: left; background:#CCC;}
.box2{width:33.3%; height:100px;float: left; }
.box3{width:33.3%; height:500px;float: left; background:#ddd;}

.box2 li{display:inline-block; line-height:160px; font-weight:bold;}
.box2 img{ vertical-align:middle;}




<!--音乐播放器-->
#skPlayer{ float:left;}
@media screen and (max-width:768px){body{ width:100%;}.doc{display:none;} }
.musicbox{float:left;margin-left:130px;margin-top:5px;}
.musicbox li{color:#F60;font-size:30px;text-align:center;font-weight:bold;}




<!--videoplayer-->
.videoplayer{float:left; margin-top:10px; margin-bottom:30px; margin-left:35px;}
#videoplayer{float:left; margin-top:10px; margin-bottom:30px; margin-left:35px;}
.videoplayerbox li{float:left; width:560px; color:#F60;font-size:30px; text-align:center; display:block;font-weight:bold;margin-left:35px;}